<nav class="navbar uk-navbar-container navbar-secondary uk-light uk-animation-fade" uk-navbar>
    <div class="uk-navbar-left uk-margin-large-left">
        <div class="uk-navbar-item logo">
            <span class="text-danger uk-margin-right">ng</span> panel
        </div>
    </div>

    <div class="uk-navbar-right uk-margin-large-right">
        <ul class="uk-navbar-nav">
            <li class="" routerLinkActive="uk-active"><a class="fs-1" routerLink="/login">Log In</a></li>
            <li class="" routerLinkActive="uk-active"><a class="fs-1" routerLink="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav>