<app-sidebar></app-sidebar>

<app-navbar></app-navbar>

<div *ngIf="setting" class="side-margin-left" style="min-height: calc(100vh - 70px);">
    <div class="uk-container uk-section" style="width: 80%;">
        <h2>Settings</h2>
        <form (ngSubmit)="onSubmit(settigsForm)" #settigsForm="ngForm"
            class="uk-card uk-card-default uk-padding-small section-radius" style="margin: auto !important;">

            <!-- setting 1  -->
            <div class="uk-margin-top">
                <div uk-grid>
                    <div class="uk-width-2-3">
                        <h4 class="uk-margin-left">Disable balance on add new client</h4>
                    </div>

                    <div class="uk-width-1-3 uk-text-right">
                        <label class="switch">
                            <input type="checkbox" name="disableBalanceOnAdd" [(ngModel)]="setting.disableBalanceOnAdd">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>

            <hr>

            <!-- setting 2  -->
            <div class=" uk-margin-top">
                <div uk-grid>
                    <div class="uk-width-2-3">
                        <h4 class="uk-margin-left">Disable balance on edit client</h4>
                    </div>

                    <div class="uk-width-1-3 uk-text-right">
                        <label class="switch">
                            <input type="checkbox" name="disableBalanceOnEdit"
                                [(ngModel)]="setting.disableBalanceOnEdit">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>

            <hr>

            <!-- setting 3  -->
            <div class=" uk-margin-top">
                <div uk-grid>
                    <div class="uk-width-2-3">
                        <h4 class="uk-margin-left">Disable singup</h4>
                    </div>

                    <div class="uk-width-1-3 uk-text-right">
                        <label class="switch">
                            <input type="checkbox" name="disableSignup" [(ngModel)]="setting.disableSignup">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="uk-margin-top uk-text-center">
                <button [hidden]="loading" [disabled]="!settigsForm.dirty" class="uk-button uk-button-primary uk-text-bold uk-border-pill uk-width-1-3"
                    type="submit">save changes</button>
                <button [hidden]="!loading" class="uk-button uk-button-primary uk-text-bold uk-border-pill uk-width-1-3"
                    type="submit" uk-spinner="ratio: 0.9"></button>
            </div>
        </form>
    </div>
</div>