<nav class="navbar uk-navbar-container navbar-secondary uk-light" uk-navbar>
    <div class="uk-navbar-item side-margin-left">
        <form class="uk-search uk-search-navbar">
            <span uk-search-icon></span>
            <input class="uk-search-input " type="search " placeholder="Search... ">
        </form>
    </div>

    <div class="uk-navbar-right uk-margin-large-right ">
        <ul class="uk-navbar-nav">
            <li class="uk-flex uk-flex-middle">
                <a href="#">
                    <span class="uk-icon" uk-icon="icon: mail; ratio: 1.1" style="margin-right: 5px;"></span>
                    <span class="uk-badge"></span>
                </a>
            </li>
            <li class="uk-flex uk-flex-middle">
                <a href="#">
                    <span class="uk-icon" uk-icon="icon: bell; ratio: 1.1"></span>
                    <span class="uk-badge"></span>
                </a>
            </li>
            <li class="uk-flex uk-flex-middle">
                <a class="fs-1 cursor-default">{{currentUser?.email}}</a>
            </li>
            <li class="uk-active uk-flex uk-flex-middle uk-margin-left ">
                <img src="assets/img/admin.svg " alt="Img " class="avatar uk-border-circle" uk-img>
            </li>
        </ul>
    </div>
</nav>