#left-col {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #0D1B1E;
    width: 20vw;
    max-width: 350px;
    min-width: 250px;
    z-index: 1;
}

.bar-wrap {
    padding: 2rem;
}