/* You can add global styles to this file, and also import other style files */


/** Global ***********************/

body {
    background-color: whitesmoke;
    height: fit-content;
}

.section-radius {
    border-radius: 20px;
}

.side-margin-left {
    margin-left: 20vw;
}

.fs-1 {
    font-size: 1.1rem !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

.uk-form-danger {
    color: initial !important;
}


/** navbar *******************************/

.navbar-secondary {
    background-color: #0D1B1E !important;
}

.navbar {
    height: 70px !important;
    max-height: 89px !important;
}

.uk-navbar-nav>li>a,
.uk-navbar-item,
.uk-navbar-toggle {
    min-height: auto !important;
}


/** logo ***********************/

.logo {
    font-size: 1.5rem !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff !important;
    text-decoration: none !important;
}

/** Text Color *******************/

.text-danger {
    color: #F25F5C !important;
}

.text-secondary {
    color: #0D1B1E !important;
}

.text-primary {
    color: #3C91E6 !important;
}

.text-warning {
    color: #FFF05A !important;
}

.text-white {
    color: #ffff !important;
}


/** Button Color **************************/

.uk-button-primary {
    background-color: #3C91E6 !important;
}

.uk-button-warning {
    background-color: #FFF05A !important;
    /* color: #fff !important; */
}

.uk-button-danger {
    background-color: #F25F5C !important;
}

.uk-button:disabled {
    background-color: rgb(226, 226, 226) !important;
    color: white !important;
}

.uk-button-secondary {
    background-color: #0D1B1E !important;
}